MF0492_3 SERVIDOR/Examen/ClienteWS/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/ExamenWS/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pqws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pqws/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://pqws/" schemaLocation="http://localhost:8080/ExamenWS/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="Sumar">
<part name="parameters" element="tns:Sumar"/>
</message>
<message name="SumarResponse">
<part name="parameters" element="tns:SumarResponse"/>
</message>
<message name="Restar">
<part name="parameters" element="tns:Restar"/>
</message>
<message name="RestarResponse">
<part name="parameters" element="tns:RestarResponse"/>
</message>
<message name="Dividir">
<part name="parameters" element="tns:Dividir"/>
</message>
<message name="DividirResponse">
<part name="parameters" element="tns:DividirResponse"/>
</message>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="Raiz">
<part name="parameters" element="tns:Raiz"/>
</message>
<message name="RaizResponse">
<part name="parameters" element="tns:RaizResponse"/>
</message>
<message name="Hipotenusa">
<part name="parameters" element="tns:Hipotenusa"/>
</message>
<message name="HipotenusaResponse">
<part name="parameters" element="tns:HipotenusaResponse"/>
</message>
<message name="Multiplicar">
<part name="parameters" element="tns:Multiplicar"/>
</message>
<message name="MultiplicarResponse">
<part name="parameters" element="tns:MultiplicarResponse"/>
</message>
<message name="Logaritmo">
<part name="parameters" element="tns:Logaritmo"/>
</message>
<message name="LogaritmoResponse">
<part name="parameters" element="tns:LogaritmoResponse"/>
</message>
<message name="Porcentaje">
<part name="parameters" element="tns:Porcentaje"/>
</message>
<message name="PorcentajeResponse">
<part name="parameters" element="tns:PorcentajeResponse"/>
</message>
<portType name="Servicios">
<operation name="Sumar">
<input wsam:Action="http://pqws/Servicios/SumarRequest" message="tns:Sumar"/>
<output wsam:Action="http://pqws/Servicios/SumarResponse" message="tns:SumarResponse"/>
</operation>
<operation name="Restar">
<input wsam:Action="http://pqws/Servicios/RestarRequest" message="tns:Restar"/>
<output wsam:Action="http://pqws/Servicios/RestarResponse" message="tns:RestarResponse"/>
</operation>
<operation name="Dividir">
<input wsam:Action="http://pqws/Servicios/DividirRequest" message="tns:Dividir"/>
<output wsam:Action="http://pqws/Servicios/DividirResponse" message="tns:DividirResponse"/>
</operation>
<operation name="Potencia">
<input wsam:Action="http://pqws/Servicios/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://pqws/Servicios/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="Raiz">
<input wsam:Action="http://pqws/Servicios/RaizRequest" message="tns:Raiz"/>
<output wsam:Action="http://pqws/Servicios/RaizResponse" message="tns:RaizResponse"/>
</operation>
<operation name="Hipotenusa">
<input wsam:Action="http://pqws/Servicios/HipotenusaRequest" message="tns:Hipotenusa"/>
<output wsam:Action="http://pqws/Servicios/HipotenusaResponse" message="tns:HipotenusaResponse"/>
</operation>
<operation name="Multiplicar">
<input wsam:Action="http://pqws/Servicios/MultiplicarRequest" message="tns:Multiplicar"/>
<output wsam:Action="http://pqws/Servicios/MultiplicarResponse" message="tns:MultiplicarResponse"/>
</operation>
<operation name="Logaritmo">
<input wsam:Action="http://pqws/Servicios/LogaritmoRequest" message="tns:Logaritmo"/>
<output wsam:Action="http://pqws/Servicios/LogaritmoResponse" message="tns:LogaritmoResponse"/>
</operation>
<operation name="Porcentaje">
<input wsam:Action="http://pqws/Servicios/PorcentajeRequest" message="tns:Porcentaje"/>
<output wsam:Action="http://pqws/Servicios/PorcentajeResponse" message="tns:PorcentajeResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Raiz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Hipotenusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logaritmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Porcentaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/ExamenWS/Servicios"/>
</port>
</service>
</definitions>