MF0492_3 SERVIDOR/UF1846/Examen/ExamenServicio/ExamenCliente/src/META-INF/wsdl/localhost_8080/ExamenServicio/Servicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pqws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pqws/" name="Servicio">
<types>
<xsd:schema>
<xsd:import namespace="http://pqws/" schemaLocation="http://localhost:8080/ExamenServicio/Servicio?xsd=1"/>
</xsd:schema>
</types>
<message name="Tangente">
<part name="parameters" element="tns:Tangente"/>
</message>
<message name="TangenteResponse">
<part name="parameters" element="tns:TangenteResponse"/>
</message>
<message name="Seno">
<part name="parameters" element="tns:Seno"/>
</message>
<message name="SenoResponse">
<part name="parameters" element="tns:SenoResponse"/>
</message>
<message name="Coseno">
<part name="parameters" element="tns:Coseno"/>
</message>
<message name="CosenoResponse">
<part name="parameters" element="tns:CosenoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Raiz">
<part name="parameters" element="tns:Raiz"/>
</message>
<message name="RaizResponse">
<part name="parameters" element="tns:RaizResponse"/>
</message>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="Porcentaje">
<part name="parameters" element="tns:Porcentaje"/>
</message>
<message name="PorcentajeResponse">
<part name="parameters" element="tns:PorcentajeResponse"/>
</message>
<message name="Logaritmo">
<part name="parameters" element="tns:Logaritmo"/>
</message>
<message name="LogaritmoResponse">
<part name="parameters" element="tns:LogaritmoResponse"/>
</message>
<message name="Hipotenusa">
<part name="parameters" element="tns:Hipotenusa"/>
</message>
<message name="HipotenusaResponse">
<part name="parameters" element="tns:HipotenusaResponse"/>
</message>
<message name="Multiplicar">
<part name="parameters" element="tns:Multiplicar"/>
</message>
<message name="MultiplicarResponse">
<part name="parameters" element="tns:MultiplicarResponse"/>
</message>
<message name="Restar">
<part name="parameters" element="tns:Restar"/>
</message>
<message name="RestarResponse">
<part name="parameters" element="tns:RestarResponse"/>
</message>
<message name="Sumar">
<part name="parameters" element="tns:Sumar"/>
</message>
<message name="SumarResponse">
<part name="parameters" element="tns:SumarResponse"/>
</message>
<message name="Dividir">
<part name="parameters" element="tns:Dividir"/>
</message>
<message name="DividirResponse">
<part name="parameters" element="tns:DividirResponse"/>
</message>
<portType name="Servicio">
<operation name="Tangente">
<input wsam:Action="http://pqws/Servicio/TangenteRequest" message="tns:Tangente"/>
<output wsam:Action="http://pqws/Servicio/TangenteResponse" message="tns:TangenteResponse"/>
</operation>
<operation name="Seno">
<input wsam:Action="http://pqws/Servicio/SenoRequest" message="tns:Seno"/>
<output wsam:Action="http://pqws/Servicio/SenoResponse" message="tns:SenoResponse"/>
</operation>
<operation name="Coseno">
<input wsam:Action="http://pqws/Servicio/CosenoRequest" message="tns:Coseno"/>
<output wsam:Action="http://pqws/Servicio/CosenoResponse" message="tns:CosenoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pqws/Servicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pqws/Servicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Raiz">
<input wsam:Action="http://pqws/Servicio/RaizRequest" message="tns:Raiz"/>
<output wsam:Action="http://pqws/Servicio/RaizResponse" message="tns:RaizResponse"/>
</operation>
<operation name="Potencia">
<input wsam:Action="http://pqws/Servicio/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://pqws/Servicio/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="Porcentaje">
<input wsam:Action="http://pqws/Servicio/PorcentajeRequest" message="tns:Porcentaje"/>
<output wsam:Action="http://pqws/Servicio/PorcentajeResponse" message="tns:PorcentajeResponse"/>
</operation>
<operation name="Logaritmo">
<input wsam:Action="http://pqws/Servicio/LogaritmoRequest" message="tns:Logaritmo"/>
<output wsam:Action="http://pqws/Servicio/LogaritmoResponse" message="tns:LogaritmoResponse"/>
</operation>
<operation name="Hipotenusa">
<input wsam:Action="http://pqws/Servicio/HipotenusaRequest" message="tns:Hipotenusa"/>
<output wsam:Action="http://pqws/Servicio/HipotenusaResponse" message="tns:HipotenusaResponse"/>
</operation>
<operation name="Multiplicar">
<input wsam:Action="http://pqws/Servicio/MultiplicarRequest" message="tns:Multiplicar"/>
<output wsam:Action="http://pqws/Servicio/MultiplicarResponse" message="tns:MultiplicarResponse"/>
</operation>
<operation name="Restar">
<input wsam:Action="http://pqws/Servicio/RestarRequest" message="tns:Restar"/>
<output wsam:Action="http://pqws/Servicio/RestarResponse" message="tns:RestarResponse"/>
</operation>
<operation name="Sumar">
<input wsam:Action="http://pqws/Servicio/SumarRequest" message="tns:Sumar"/>
<output wsam:Action="http://pqws/Servicio/SumarResponse" message="tns:SumarResponse"/>
</operation>
<operation name="Dividir">
<input wsam:Action="http://pqws/Servicio/DividirRequest" message="tns:Dividir"/>
<output wsam:Action="http://pqws/Servicio/DividirResponse" message="tns:DividirResponse"/>
</operation>
</portType>
<binding name="ServicioPortBinding" type="tns:Servicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Tangente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Seno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Coseno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Raiz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Porcentaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logaritmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Hipotenusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicio">
<port name="ServicioPort" binding="tns:ServicioPortBinding">
<soap:address location="http://localhost:8080/ExamenServicio/Servicio"/>
</port>
</service>
</definitions>