MF0492_3 SERVIDOR/UF1846/Examen/ExamenServicio/ExamenCliente/src/META-INF/wsdl/localhost_8080/ExamenServicio/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pqws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pqws/">

<xs:element name="Coseno" type="tns:Coseno"/>

<xs:element name="CosenoResponse" type="tns:CosenoResponse"/>

<xs:element name="Dividir" type="tns:Dividir"/>

<xs:element name="DividirResponse" type="tns:DividirResponse"/>

<xs:element name="Hipotenusa" type="tns:Hipotenusa"/>

<xs:element name="HipotenusaResponse" type="tns:HipotenusaResponse"/>

<xs:element name="Logaritmo" type="tns:Logaritmo"/>

<xs:element name="LogaritmoResponse" type="tns:LogaritmoResponse"/>

<xs:element name="Multiplicar" type="tns:Multiplicar"/>

<xs:element name="MultiplicarResponse" type="tns:MultiplicarResponse"/>

<xs:element name="Porcentaje" type="tns:Porcentaje"/>

<xs:element name="PorcentajeResponse" type="tns:PorcentajeResponse"/>

<xs:element name="Potencia" type="tns:Potencia"/>

<xs:element name="PotenciaResponse" type="tns:PotenciaResponse"/>

<xs:element name="Raiz" type="tns:Raiz"/>

<xs:element name="RaizResponse" type="tns:RaizResponse"/>

<xs:element name="Restar" type="tns:Restar"/>

<xs:element name="RestarResponse" type="tns:RestarResponse"/>

<xs:element name="Seno" type="tns:Seno"/>

<xs:element name="SenoResponse" type="tns:SenoResponse"/>

<xs:element name="Sumar" type="tns:Sumar"/>

<xs:element name="SumarResponse" type="tns:SumarResponse"/>

<xs:element name="Tangente" type="tns:Tangente"/>

<xs:element name="TangenteResponse" type="tns:TangenteResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Raiz">
<xs:sequence>
<xs:element name="Num1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RaizResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tangente">
<xs:sequence>
<xs:element name="Num1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TangenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Porcentaje">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PorcentajeResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Hipotenusa">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HipotenusaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Logaritmo">
<xs:sequence>
<xs:element name="Num1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogaritmoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplicar">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Dividir">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Restar">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Seno">
<xs:sequence>
<xs:element name="Num1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SenoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Sumar">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Potencia">
<xs:sequence>
<xs:element name="Num1" type="xs:int" minOccurs="0"/>
<xs:element name="Num2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PotenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Coseno">
<xs:sequence>
<xs:element name="Num1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CosenoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>